[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = App to switch pictures in folder
[access "refs/*"]
	owner = group user/zheka-kudr
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/zheka-kudr
	label-Verified = -1..+1 group user/zheka-kudr
	push = group user/zheka-kudr
	read = group user/zheka-kudr
	rebase = group user/zheka-kudr
	removeReviewer = group user/zheka-kudr
	submit = group user/zheka-kudr
[access "refs/heads/*"]
	create = group user/zheka-kudr
	push = +force group user/zheka-kudr
	pushMerge = group user/zheka-kudr
	read = group user/zheka-kudr
[access "refs/tags/*"]
	push = group user/zheka-kudr
	push = +force group user/zheka-kudr
